<!DOCTYPE html>
<html>
<header id="mc_-header">
	<div class="mc_-aside">
		<div class="mc_-lgo">
		<a href="http://motionscloud.com"><%= image_tag("logo-default-symbo.png", alt: "MotionsCloud") %></a>
		</div>
	</div>
	
</header>
<body class="mc_-root">
  <main class="mc_-main">

    <button type="button" class="btn btn-primary btn-lg float-right button-m">Download Photo </button>
    <button type="button" class="btn btn-primary btn-lg float-right button-m">Download Video</button>
	<aside class="mc_-as-lf"></aside>
	<section class="mc_-scc_box">
	   <div class="mc_main-inner">
			<div class="mc_-from-fil">
				<div class="mc_box-dt-canvas">
          <div class="panel panel-default panel-border">
            <div class="panel-heading panel-hb">Claims</div>
            <table class="table">
              <tr>
                <th>Firstname</th>
                <th>Lastname</th> 
                <th>Age</th>
              </tr>
              <tr>
                <td>Jill</td>
                <td>Smith</td> 
                <td>50</td>
              </tr>
              <tr>
                <td>Eve</td>
                <td>Jackson</td> 
                <td>94</td>
              </tr>
            </table>
          </div>
				</div>
			</div>
	   </div>
	</section>
	<footer id="mc_-footer">
		<p class="mc_-ftr_cpright">Copyright &copy; 2016-2018 <a href="http://motionscloud.com">MotionsCloud</a>. All Rights Reserved</p>	
	</footer>
 </main>
</body>
</html>