.form-pad {
	padding: 10px;
}

.bold {
	font-weight: bold;
}

.form-logo {
	text-align: center;
}

.panel-border {
	margin: 10px;
	border: 1px solid black;
}

.panel-hb {
	padding: 10px;
	font-weight: bold;
}

.button-m {
	margin-right: 10px;
}

@import "bootstrap";